@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;1,100;1,400;1,700&display=swap");

$border-radius: 12px;
$anim-time: 0.5s;
$bg-color: #9981c8;

:root {
  font-family: "Fira Sans", "Lato", sans-serif;
}

* {
  box-sizing: border-box;
}

main {
  border-radius: $border-radius;
  background-color: $bg-color;
  max-width: 1000px;
  width: 80%;
  margin: auto;
  padding: 1rem;
  display: flex;
  flex-flow: column;
  gap: 1rem;

  position: absolute;
  top: 50%;
  left: 50%;

  translate: -50% -50%;

  #nav {
    user-select: none;
    display: flex;
    flex-direction: row;
    position: relative;

    .trigger-spec {
      position: absolute;
      height: 100%;
      border-radius: $border-radius;
      transition: transform $anim-time ease-out;
      box-shadow: 3px 3px 6px #9981c8, -3px -3px 6px #555353;
    }

    .trigger {
      cursor: pointer;
      padding: 0.5rem 0.75rem;
      text-align: center;
      flex: 1 1 0px;
      border-radius: $border-radius;
      color: lighten(#000, 30%);
      transition: color $anim-time ease-out;

      &.active {
        color: #430cda;
      }
    }
  }

  #main {
    display: block;
    overflow: hidden;
    border-radius: $border-radius;
    background: $bg-color;
    box-shadow: inset 36px 36px 71px #cecece, inset -36px -36px 71px #f2f2f2;
    height: 25rem;
    max-height: 60%;

    .targets {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      transform: translate(0rem);
      height: 100%;
      transition: transform $anim-time ease-out;

      .target {
        height: 100%;
        overflow: auto;
        scrollbar-gutter: stable both-edges;
        padding: 1rem 1.5rem;
        min-width: 100%;
        opacity: 0;
        transform: translateY(10rem);
        transition: transform $anim-time ease-out, opacity $anim-time ease-out;

        &.active {
          transform: translateY(0rem);
          opacity: 1;
        }
      }
    }
  }

}

div {
  font-size: 14px;
  color: #430cda;
  margin: 0 0 10px 0;
}

h2{
  font-size: 30px;
  color: #430cda;
  margin: 20px 0 5px 0;
}

.top-content {    
    display: flex; 
}

.top-main-content {
    max-width: 500px;
}

.top-main-content p {
    color: #000;   
    font-size: 14px;
    text-align: justify;
}

.top-main-img { 
    margin: 40px 0 0 90px;
    position: relative;    
}

.top-main-img img {   
    border-radius: 0 0 0 50px;  
    display: block;
    width: 100%;
    height: 100%;
    -o-object-fit: contain;
    object-fit: contain;
    max-width: 230px;  
    z-index: 2; 
}

.top-main-rectangle {  
    position: absolute;
    top: -8%;
    right: -10%;
    width: 100%;
    height: 100%;
    background-color: rgb(175, 18, 223);
    z-index: -1;
}

.top-content-social-buttons {
    position: fixed;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px 0 10px 20px;   
    margin-top: 40px; 
}

.top-content-social-buttons a, .top-content-social-buttons button {
    display: flex;
    align-items: center;
    text-decoration: none;
    background-color: #ad2abe;
    color: #ffffff;
    box-shadow: 0px 0px 10px rgba(41, 40, 40, 0.1);
    padding: 6px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.top-content-social-buttons a img, .top-content-social-buttons button img {
    width: 20px;
    margin-right: 10px;
}

.top-content-social-buttons a:hover, .top-content-social-buttons button:hover {
    background-color: #d094d8;
}

.left-block{
  float: left;
  width: 60%;
}
.left-block h4{
  margin: 20px 0 5px 0;
  padding: 0;
  color: black; 
}

.left-block ul { 
  color: black; 
  padding: 0 0 0 20px;
  margin: 0;
}

.tech-skills-left-block-list-item {
  width: 50%; 
  float: left;
}

.right-block img {
  float: right;
  width: 30%;
  border-radius: 0 0 0 50px;   
  display: block;
  box-shadow: 0 0 50px rgba(0, 0, 0, 1.5); 
}

.github-button {
  position: fixed;
  bottom: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px 0 10px 30px;   
  margin-top: 60px; 
}

.github-button a, .github-button button {
  display: flex;
  align-items: center;
  text-decoration: none;
  background-color: #ad2abe;
  color: #ffffff;
  box-shadow: 0px 0px 10px rgba(41, 40, 40, 0.1);
  padding: 8px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.github-button a img, .github-button button img {
  width: 20px;
  margin-right: 10px;
}

.github-button a:hover, .github-button button:hover {
  background-color: #d094d8;
}

.left-block dt{
  color: rgb(87, 84, 84);
  margin: 20px 0 5px 0;
}

.left-block dd{
  color: #000;
  margin: 0 0 10px 0;
}

.experience-left-block {
  display: flex;
  justify-content: flex-start;
  padding: 0;
}

.experience-left-block > * {
  margin: 10px 50px 0 0;
}

.experience-left-block > *:last-child {
  margin: 10px; 
}

.left-block ol{
  padding: 15px;
}